@media (max-width: 990px) {
    .info-list {
        grid-gap: 15px 10px;
    }
    .footer-form {
        gap: 15px;
        max-width: 525px;
    }
    .footer-form input {
        padding: 8px 15px;
    }
}

@media (max-width: 898px) {
    .footer-form__message {
        width: auto;
    }
    .footer-form {
        max-width: 420px;
    }
}
@media (max-width: 767px) {
    .footer-form {
        max-width: 377px;
        justify-content: center;
    }
    .info-list {
        grid-gap: 10px 5px;
    }
    .footer-right__link {
        font-size: 26px;
    }
    .form-title {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .social-list {
        justify-content: center;
    }
    .info-list{
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        "FirstColumn" "SecondColumn" 
        "FirstColumn" "SecondColumn" 
        "FirstColumn" "SecondColumn"
        "ThirdColumn" "ThirdColumn";
}
    
    .footer__inner {
        flex-direction: column;
    }
    .footer-left__title,
    .footer-right__title,
    .footer-info__title {
        text-align: center;
    }
    .footer-info__title{
        margin-top: 25px;
    }
    .footer-right{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-right__title {
        margin-top: 40px;
    }
    .footer-right__link {
        display: flex;
        justify-content: center;
    }
    .form-title{
        margin-top: 25px;
    }
    .footer-form {
        flex-direction: column;
        justify-content: center;
    }
   

}
@media (min-width: 992px) and (max-width: 1160px) {
    .price-item__btn {
        padding: 25px 90px;
    }
}

@media (max-width: 992px) {
    .price__list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .price-text{
        margin-bottom: 20px;
    }
}

@media (max-width:480px) {
    .price-text__title{
        font-size: 50px;
    }
    .price-text__subtitle{
        font-size: 28px;
    }
    .price-item__btn {
        padding: 10px 60px;
    }
}
