@import url("../css/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
@import url("../css/media.css");
@mixin BGconf {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin FooTitle {
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;
    color: #adadad;
    text-transform: uppercase;
}
$maincolor: #2d3436;
$secColor: #6c5ce7;
$form-bg: #c2c2c2;

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Inter", sans-serif;
    color: #2d3436;
}

.deliver{
    padding: 80px 0;
}
.deliver__text-desc {
    margin-top: 15px;
    margin-bottom: 40px;
    max-width: 675px;
}
.deliver__list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.deliver__list-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 270px;
}
.deliver-item__img{
    width: 70px;
    height: 70px;
}
.deliver-item__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.deliver-item__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}

.deliver-item__btn {
    text-align: center;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    border: 1px solid $maincolor;
    border-radius: 16px;
    color: $secColor;
    
}
