@import url("../css/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");
@import url("../css/media.css");
input,
input:active,
input:hover,
input:focus {
  background-color: #c2c2c2;
  border: none;
  outline: 0;
  outline-offset: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}


.header {
  box-shadow: 0px 4px 8px 0px rgba(38, 50, 56, 0.08);
  box-shadow: 0px 2px 4px 0px rgba(38, 50, 56, 0.16);
}

.header-img{
  width: 70%;
  height: 70%;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
}
.header__nav .header__logo {
  display: flex;
  gap: 10px;
}
.header__nav .header__logo .header__logo-title {
  font-family: Inter;
  font-weight: 700;
  font-size: 48px;
}
.header__nav .nav {
  display: flex;
  
}
.header__nav .nav a {
  text-decoration: none;
  color: rgb(108, 92, 231);
  padding-left: 15px;
  padding-right: 15px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  align-items: center;
}
.header__nav .btn {
  padding: 8px 16px;
  background-color: rgb(108, 92, 231);
  border-radius: 50px;
}
.header-img {
  transition: all 1s ease;
  &:hover {
    transform: scale(1.1);
  }
}
.header__nav .btn .button {
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.content__text {
  font-family: Inter;
  font-weight: 800;
  text-align: center;
  h1 {
    font-size: 96px;
    & span{
      color: rgb(214, 48, 49);
    }
  }
  h2 {
    font-size: 64px;
  }
}

.content-imgs{
  margin-top: 64px;
  display: flex;
  gap: 30px;
}
.content__column-1{
  max-width: 270px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.content__column-2{
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 470px;
  // & .column-2__img1{
  //   width: 470px;
  //   height: 380px;
  // }
}
.content__column-3{
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 370px;

}
.content__column-4{
  display: flex;
  flex-direction: column;
  justify-content: center ;
  gap: 30px;  
}
.column-3__img1{
  width: 170px;
  height: 200px;
}
.column-3__img2{
  width: 370px;
  height: 356px;
}
.column__btn{
  padding: 8px 16px;
  background-color: #6c5ce7;
  border-radius: 16px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.deliver {
  padding: 80px 0;
}

.deliver__text-desc {
  margin-top: 15px;
  margin-bottom: 40px;
  max-width: 675px;
}

.deliver__list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.deliver__list-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 15px;
  max-width: 270px;
}
.deliver__list-item .deliver-item__btn {
  align-self: flex-start;
}

.deliver-item__img {
  width: 70px;
  height: 70px;
}

.deliver-item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.deliver-item__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.deliver-item__btn {
  text-align: center;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  border: 1px solid #2d3436;
  border-radius: 16px;
  color: #6c5ce7;
  transition: all 1s ease;
}
.deliver-item__btn:hover {
  background-color: #6c5ce7;
  color: #fff;
}

.price-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 40px;
}

.price-text__title {
  color: #2d3436;
  font-weight: 900;
  font-size: 64px;
  line-height: 77px;
}

.price-text__subtitle {
  margin-top: 35px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #adadad;
}
.price-text__subtitle span {
  color: #6c5ce7;
  position: relative;
}
.price-text__subtitle span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 15px;
  border-radius: 20px;
  background-color: #fdcb6e;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.price__list {
  display: flex;
  gap: 30px;
}

.price-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  padding: 32px;
  border-radius: 16px;
  transition: all 1s ease;
}
.price-item:hover {
  transform: scale(1.05);
  box-shadow: 2px 8px 6px 5px rgba(0, 0, 0, 0.35);
}
.price-item .price-item__btn {
  align-self: flex-end;
}

.price-item__title {
  color: #6c5ce7;
}

.price-item__subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin-bottom: 24px;
}
.price-item__subtitle span {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 3px;
}

.price-advantages {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.price-advantages__item {
  padding-left: 48px;
  position: relative;
}
.price-advantages__item::before {
  position: absolute;
  top: -3px;
  left: 0px;
  content: "";
  background: url(../img/icon-checkli-dec.png);
  background-position: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #c2c2c2;
}

.price-advantages__item-2::before {
  background-color: #fdcb6e;
}

.price-advantages__item-3::before {
  background-color: #55efc4;
}

.price-item__btn {
  font-weight: 700;
  color: #6c5ce7;
  padding: 25px 103px;
  border: 1px solid #6c5ce7;
  border-radius: 20px;
  text-align: center;
}

.price-btn-2 {
  color: #fff;
  background-color: #6c5ce7;
}
.price-btn-2:hover {
  background-color: #fff;
  color: #6c5ce7;
}

.price-btn-3:hover,
.price-btn-1:hover {
  color: #fff;
  background-color: #6c5ce7;
}

.info-item__link:hover {
  border-bottom: 1px solid #2d3436;
}

.info-link1,
.info-link2,
.info-link3 {
  grid-area: FirstColumn;
}

.info-link4,
.info-link5,
.info-link6 {
  grid-area: SecondColumn;
}

.info-link7,
.info-link8 {
  grid-area: ThirdColumn;
}

.info-list {
  display: grid;
  max-width: 500px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px 30px;
  grid-template-areas: "FirstColumn" "SecondColumn" "ThirdColumn" "FirstColumn" "SecondColumn" "ThirdColumn" "FirstColumn" "SecondColumn";
}

.footer-right__link {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #6c5ce7;
}

.form-title {
  margin-top: 48px;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  max-width: 570px;
  flex-wrap: wrap;
}
.footer-form input {
  padding: 8px 16px;
}
.footer-form input,
.footer-form button {
  border-radius: 16px;
}

.footer-form__message,
.footer-form__message::placeholder {
  color: #6c5ce7;
}

.footer-form__message {
  width: 70%;
  position: relative;
}

.footer-form__message::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background: url("../img/message-dec.png");
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer-form__btn {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  padding: 16px 32px;
  background-color: #6c5ce7;
  text-transform: uppercase;
}

.footer-dec {
  width: 100%;
  margin-top: 32px;
}
